{
    "token": "YOUR-SLACK-BOT-TOKEN-HERE",
    "brain": "./YOUR/AIML/DIRECTORY",
    "food_options": [
        "Pizza Hut",
        "Domino's",
        "Cook your own damn food."
    ],
    "markov_brain": "./YOUR/MARKOV/INPUT.txt"
}
